/* image */
img{
    width: 80%;
}
/* site bar */
.site-bar{
    background-color: ghostwhite;
}
/* Calculate */
.calculate-btn{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #59A5FF;
}
/* Save */
.save input{
    padding: 5px 30px;
    width: 80px;
}
.save-btn{
    padding: 8px 30px;
    border: none;
    background-color: #59A5FF;
}